table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px auto;
  text-align: center;
}
th,
td {
  border: 2px solid #ccc;
  padding: 10px;
}
th {
  background-color: #181717;
}

* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  display: flex;
  flex-direction: row;
}

.header {
  width: 15%; /* Take 20% of the screen width */
  font-size: 20px;
  padding: 20px 0;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  padding-top: 20px;
  background-image: url("/img/library.jpg");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  z-index: 1;
  color: white;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/img/library.jpg"); /* Add background image */
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Apply blur to the background image */
  z-index: -1; /* Place it behind the text */
  opacity: 0.8; /* Optional: Slightly reduce background opacity for better text contrast */
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: column; /* Stack links vertically */
  width: 100%; /* Stretch links across navbar width */
  gap: 15px;
}
.navbar a {
  color: whitesmoke;
  text-decoration: none;
  padding: 10px 20px;
  text-align: left; /* Align text to the left */
  transition: background 0.3s ease;
  font-size: 18px;
}
.navbar a:hover {
  color: black;
  backdrop-filter: blur(15px);
  background: rgba(221, 214, 214, 0.719);
}

.informatiiSiBibliografie {
  margin-left: 15%;
  background-image: url("/img/library2.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 0;
}

.informatiiSiBibliografie::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/img/library2.jpg"); /* Add background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px); /* Apply blur to the background image */
  z-index: -1; /* Place it behind the text */
  opacity: 0.8; /* Optional: Slightly reduce background opacity for better text contrast */
}

.introducere,
.etiopatogenie,
.factoriDeRisc,
.clasificare,
.manifestari,
.complicatii,
.tratament,
.tratamentChirurgical,
.recurenta,
.nutritia,
.explorariParaclinice,
.bibliografie {
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 50px;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
}

p {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}

h2 {
  font-weight: bolder;
  font-size: 25px;
  text-decoration: underline;
}
h4 {
  font-size: 18px;
  margin-top: 10px;
}

/* optimizari mobile */

@media (max-width: 1125px) {
  .logo {
    font-size: 15px;
  }
  .navbar a {
    font-size: 13px;
    padding: 7px 18px;
  }

  p {
    font-size: 15px;
  }
  h2 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }

  .navbar {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  /* CSS styles for screens smaller than 768px (typically tablets and mobile devices) */
  .logo {
    font-size: 13px;
  }
  .navbar a {
    font-size: 12px;
    padding: 5px 15px;
  }

  p {
    font-size: 13px;
  }
  h2 {
    font-size: 15px;
  }
  h4 {
    font-size: 14px;
  }
  .navbar {
    gap: 40px;
  }
}

@media (max-width: 480px) {
  /* CSS styles for screens smaller than 480px (typically mobile phones) */
  .logo {
    font-size: 10px;
  }
  .navbar a {
    font-size: 9px;
    padding: 3px 10px;
  }

  p {
    font-size: 10px;
  }
  h2 {
    font-size: 13px;
  }
  h4 {
    font-size: 12px;
  }
  .navbar {
    gap: 50px;
  }
}
